<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="task_list_title">
    <h1>Tasks</h1>
  </div>

  <div class="taskDisplay">
    <table>
      <thead>
        <tr>
          <th style= "margin: 22px 2px; padding: 30px 50px;">Title</th>
          <th style= "margin: 22px 2px; padding: 30px 50px;">Description</th>
          <th style= "margin: 22px 2px; padding: 30px 50px;">Time</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @tasks.each do |task| %>
          <tr>
            <td><%= task.title %></td>
            <td><%= task.description %></td>
            <td><%= task.time %></td>
            <td><%= link_to 'Show', task %></td>
            <td><%= link_to 'Edit', edit_task_path(task) %></td>
            <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <br>

  <div class="newT">
    <%= link_to 'New Task', new_task_path %>
  </div>
</div>
